html,
body {
  padding: 0;
  margin: 0;
  font-family: "Kiwi Maru", serif;
  background-color: #e9cd59;

  /* max-width: 900px; */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

