svg {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    width: 80vw;
    z-index: 5;
  }
  
  .monkey {
    /* stroke-width: 2px; */
    stroke-dashoffset: -2000;
    stroke-dasharray: 2000;
    animation-name: monkey;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
  
  @keyframes monkey {
    0% {
      stroke: #2d0d0d;
    }
  
    100% {
      stroke-dashoffset: 0;
      stroke: #2d0d0d;
    }
  }
  
  